COMPOSE_PROJECT_NAME=supwarden
APP_ENV=dev
APP_PORT=8000
WEB_PORT=5173
DB_PORT=5432
ADMINER_PORT=8080
MERCURE_PORT=3000

POSTGRES_DB=__SET_LOCAL_DB_NAME__
POSTGRES_USER=__SET_LOCAL_DB_USER__
POSTGRES_PASSWORD=__SET_LOCAL_DB_PASSWORD__

APP_SECRET=__SET_LOCAL_APP_SECRET__
MERCURE_JWT_SECRET=__SET_LOCAL_MERCURE_JWT_SECRET__
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
MERCURE_CORS_ALLOWED_ORIGINS=http://localhost:5173
VITE_API_URL=http://localhost:8000
GOOGLE_OAUTH_CLIENT_ID=__SET_LOCAL_GOOGLE_OAUTH_CLIENT_ID__
GOOGLE_OAUTH_CLIENT_SECRET=__SET_LOCAL_GOOGLE_OAUTH_CLIENT_SECRET__
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8000/api/auth/oauth/google/callback
GOOGLE_OAUTH_FRONTEND_CALLBACK_URL=http://localhost:5173/oauth/callback
